*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Encode Sans";
    font-weight: 400;
}
body{
    background: #000000;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #fff;
}
.df{
    display: flex;
}
.jcsb{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}
.aic{
    align-items: center;
}
.fdc{
    flex-direction: column;
}