*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Encode Sans";
}
body{
    background: #000000;
}
.df{
    display: flex;
}
.jcsb{
    justify-content: space-between;
}
.jcsc{
    justify-content: center;
}
.aic{
    align-items: center;
}
.fdc{
    flex-direction: column;
}
.as{
    border: 1px solid red;
}