div.button{
    width: 170px;
    height: 56px;
    background: linear-gradient(to right,#01F3FD,#FF6DC1);
    padding: 1px;

    button{
        width: 100%;
        height: 100%;
        background: #000;
        text-align: center;
        color: #FFFFFF;
    }
}