.bg-i {
  position: absolute;
  z-index: -100;
}
.bg-i1 {
  top: 0;
  right: 0;
}
.bg-i2 {
  top: 157%;
  left: 0;
}
.bg-i3 {
  top: 232%;
  right: 0;
}
.bg-i4 {
  top: 470%;
  left: 0;
}
header {
  padding: 50px 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 90vh;
  justify-content: space-evenly;

  h1 {
    width: 55%;
    font-size: 72px;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 120%;
  }

  p.header-desc {
    width: 55%;
    text-align: center;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 150%;
  }
  div {
    margin-bottom: 40px;
    p {
      font-size: 16px;
      color: #6a6e87;
      margin-bottom: 10px;

      span {
        color: #e7e9f7;
      }
    }
  }
}
section.holding-specs {
  height: 100vh;
  padding: 0 230px;

  p.holding-specs-title {
    width: 100%;
    height: 6%;
    color: white;
    text-align: center;
    font-size: 25px;
  }
  div.holding-specs-content {
    width: 100%;
    height: 94%;
    padding: 10px 0;
    flex-wrap: wrap;

    div.holding-specs-card {
      width: 215px;
      height: 305px;
      color: white;
      justify-content: space-evenly;
      img {
        width: 180px;
        height: 180px;
      }
      h3 {
        line-height: 150%;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        width: 100%;
        text-align: center;
        color: #6a6e87;
      }
    }
  }
}

section.about {
  margin-top: 100px;
  height: 110vh;
  color: white;
  margin-bottom: 100px;

  .about-title {
    width: fit-content;
    height: 100%;

    h1 {
      font-size: 55px;
      font-weight: 200;
      line-height: 130%;
      letter-spacing: -2px;

      span {
        background: linear-gradient(to right, #01f3fd, #ff6dc1);
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
    p {
      margin-top: 15px;
      width: 430px;
      font-size: 24px;
      font-weight: 300;
      line-height: 160%;
    }
  }

  .about-content {
    width: fit-content;
    height: 100%;

    .col1 {
      width: 295px;
      height: 100%;
      margin: 0 10px 0 0;
    }
    .col2 {
      width: 295px;
      height: 100%;
      margin: 0 0 0 10px;
    }

    .col1 .title,
    .col2 .title {
      width: 100%;
      height: 6%;
      font-size: 14px;
      font-weight: 500;
      line-height: 150%;
      text-align: justify;
      padding: 0 0 0 20px;
      margin-bottom: 15px;
    }

    .col1 .title {
      border-left: 1px solid #00e5ff;
    }
    .col2 .title {
      border-left: 1px solid #ff83b7;
    }

    .col1 .card,
    .col2 .card {
      width: 295px;
      height: 226px;
      background-color: rgba(100, 100, 100, 0.1);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      margin: 15px 0;
      padding: 30px;

      img {
        width: 77px;
        height: 77px;
      }

      p {
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 2px;
      }
    }
    .col1 .card {
      border-top: 1px solid #00e5ff;
    }
    .col2 .card {
      border-top: 1px solid #ff83b7;
    }
  }
}

section.growth {
  height: fit-content;
  margin: 25vh 0;

  h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 300;
    line-height: 130%;

    span {
      background: linear-gradient(#01f3fd, #ff6dc1);
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
  p {
    font-size: 24px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: #e7e9f7;
    margin: 20px 0;
  }
  form {
    width: 100%;
    height: fit-content;
    margin-top: 20px;

    input {
      margin: 0 10px;
    }
  }
}

section.why-us {
  height: 110vh;

  .title {
    width: 100%;
    height: fit-content;
    margin-bottom: 60px;

    h1 {
      font-size: 60px;
      font-weight: 300;
      line-height: 130%;
      color: #fff;
    }
    p {
      font-size: 24px;
      font-weight: 400;
      line-height: 160%;
      color: #fff;
    }
  }
}
