@media screen and (max-width: 600px) {
  .container {
    padding: 0 50px;
  }
  html,
  body {
    max-width: 600px;
    width: 100%;
  }
  nav.Desktop-nav {
    display: none;
  }
  section {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1366px) {
  .container{
    padding: 0 50px;
  }
}
@media screen and (min-width: 1366px) {
  *{
    font-size: 100%;
  }
  .container {
    padding: 0 100px;
    width: 100%;
  }
  html,
  body {
    min-width: 1024px;
    width: 100%;
  }
  section {
    width: 100%;
  }
}
