footer{
     height: 12vh;
     padding: 0 10px;
     bottom: 0;
     background-color: #000;
     color: #fff;
     font-size: 16px;
     line-height: 150%;

     button{
          width: fit-content;
          height: fit-content;
          background-color: transparent;
          padding: 0;
          outline: 0;
          border: 0;
          color: #fff;

          img{
               margin-left: 5px;
          }
     }
}